@import url('https://fonts.googleapis.com/css?family=Chicle');

header {
    background-color: whitesmoke;
}

body {
    background-color: whitesmoke;
}

/* -----------NAVBAR------------- */
.navbar {
    background-color: whitesmoke !important;
}

.nav-link {
    margin: 20px;
    font-size: 19pt;
    font-family: Chicle, sans-serif;
    color: rgba(0,0,0,.5);
}

.nav-link:hover {
    color: #000000 !important;
}

.first-page {
    background-image: url("../images/monkees.jpg");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 300px;
    padding-bottom: 200px;
    padding-right: 300px;
    padding-left: 300px;
}

.first-page p {
    margin: 0px;
    color: #fafafa;
    text-align: center;
    font-size: 17pt;
    font-family: Chicle, sans-serif;
    text-shadow: 2px 2px #000000;
}

.logo {
    background-image: url("../images/TheMonkeesLogo.png");
    background-color: whitesmoke;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 180px;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

p.lead {
    font-family: Chicle, sans-serif;
    text-align: center;
    padding-top: 200px;
    font-size: 19pt;
    color: white;
    text-shadow: 2px 2px black;
    margin: 0;
}

.jumbotron-fluid {
    background-image: url("../images/monkees.jpg");
    background-position: center;
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.band {
    text-align: center;
    background-color: whitesmoke;
    font-family: Chicle, sans-serif;
}

.iframes {
    align-items: center;
    float: right;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: auto;
    background-color: whitesmoke;
}

.chairs {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    width: 100%;
}

.img-circle {
    border-radius: 50%;
}

footer {
    background-color: whitesmoke;
    color: #fafafa;
    min-height: 180px;
    display: flex;
    justify-content: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin: 10px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: rgb(26, 25, 25);
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.social-links li a i:hover {
    background: gainsboro;
}