@import url('https://fonts.googleapis.com/css?family=Chicle');

header {
    background-color: whitesmoke;
}

body {
    background-color: whitesmoke;
    font-family: Chicle, sans-serif;
}

/* -----------NAVBAR------------- */
.navbar {
    background-color: whitesmoke !important;
}

.nav-link {
    margin: 15px;
    font-size: 19pt;
    font-family: Chicle, sans-serif;
    color: rgba(0, 0, 0, .5);
}

.nav-link:hover {
    color: #000000 !important;
}

.first-page {
    background-image: url("../images/monkees.jpg");
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    background-image: url("../images/TheMonkeesLogo.png");
    background-color: whitesmoke;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 180px;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.band {
    text-align: center;
    background-color: whitesmoke;
    font-family: Chicle, sans-serif;
}

#music {
    color: gray;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

#videos {
    color: gray;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

#photos {
    color: gray;
    margin-top: 75px;
}

#contact {
    background-image: url("../images/1280px-The_Monkees.jpg");
    background-position: center;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: auto;
}

hr {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px black;
}

hr:after {
    content: "\00a0";
}

.my-button {
    padding-top: 300px;
}

.img-circle {
    border-radius: 50%;
}

footer {
    background-color: whitesmoke;
    color: #fafafa;
    min-height: 180px;
    display: flex;
    justify-content: center;
}